In [1]:
# load a basic library
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib

In [2]:
# load a data
df=pd.read_csv("Bengaluru_House_Data_usualdata.csv")
df

,location,size,total_sqft,bath,price,BHK,price_per_sqft
0,Devarachikkanahalli,2 BHK,1250.0,2.0,40.0,2,3200.000000
1,Devarachikkanahalli,2 Bedroom,1200.0,2.0,83.0,2,6916.666667
2,Devarachikkanahalli,2 BHK,1170.0,2.0,40.0,2,3418.803419
3,Devarachikkanahalli,3 BHK,1425.0,2.0,65.0,3,4561.403509
4,Devarachikkanahalli,2 BHK,947.0,2.0,43.0,2,4540.654699
...,...,...,...,...,...,...,...
7349,other,2 BHK,1200.0,2.0,70.0,2,5833.333333
7350,other,1 BHK,1800.0,1.0,200.0,1,11111.111111
7351,other,2 BHK,1353.0,2.0,110.0,2,8130.081301
7352,other,1 Bedroom,812.0,1.0,26.0,1,3201.970443
7353,other,4 BHK,3600.0,5.0,400.0,4,11111.111111

In [3]:
df.location = df.location.apply(lambda x: x.strip())

In [4]:
df.shape

(7354, 7)

In [5]:
# in location value in char. now convert in numbers 
dummies = pd.get_dummies(df.location)
print(dummies)

      1st Block Jayanagar  1st Phase JP Nagar  2nd Phase Judicial Layout  \
0                       0                   0                          0
1                       0                   0                          0
2                       0                   0                          0
3                       0                   0                          0
4                       0                   0                          0
...                   ...                 ...                        ...
7349                    0                   0                          0
7350                    0                   0                          0
7351                    0                   0                          0
7352                    0                   0                          0
7353                    0                   0                          0

      2nd Stage Nagarbhavi  5th Block Hbr Layout  5th Phase JP Nagar  \
0                        0                     0                   0
1                        0                     0                   0
2                        0                     0                   0
3                        0                     0                   0
4                        0                     0                   0
...                    ...                   ...                 ...
7349                     0                     0                   0
7350                     0                     0                   0
7351                     0                     0                   0
7352                     0                     0                   0
7353                     0                     0                   0

      6th Phase JP Nagar  7th Phase JP Nagar  8th Phase JP Nagar  \
0                      0                   0                   0
1                      0                   0                   0
2                      0                   0                   0
3                      0                   0                   0
4                      0                   0                   0
...                  ...                 ...                 ...
7349                   0                   0                   0
7350                   0                   0                   0
7351                   0                   0                   0
7352                   0                   0                   0
7353                   0                   0                   0

      9th Phase JP Nagar  ...  Vishveshwarya Layout  Vishwapriya Layout  \
0                      0  ...                     0                   0
1                      0  ...                     0                   0
2                      0  ...                     0                   0
3                      0  ...                     0                   0
4                      0  ...                     0                   0
...                  ...  ...                   ...                 ...
7349                   0  ...                     0                   0
7350                   0  ...                     0                   0
7351                   0  ...                     0                   0
7352                   0  ...                     0                   0
7353                   0  ...                     0                   0

      Vittasandra  Whitefield  Yelachenahalli  Yelahanka  Yelahanka New Town  \
0               0           0               0          0                   0
1               0           0               0          0                   0
2               0           0               0          0                   0
3               0           0               0          0                   0
4               0           0               0          0                   0
...           ...         ...             ...        ...                 ...
7349            0           0               0          0                   0
7350            0           0               0          0                   0
7351            0           0               0          0                   0
7352            0           0               0          0                   0
7353            0           0               0          0                   0

      Yelenahalli  Yeshwanthpur  other
0               0             0      0
1               0             0      0
2               0             0      0
3               0             0      0
4               0             0      0
...           ...           ...    ...
7349            0             0      1
7350            0             0      1
7351            0             0      1
7352            0             0      1
7353            0             0      1

[7354 rows x 241 columns]

In [6]:
dff=pd.concat([df,dummies.drop("other",axis="columns")], axis="columns" )
print(dff.head(5))

              location       size  total_sqft  bath  price  BHK  \
0  Devarachikkanahalli      2 BHK      1250.0   2.0   40.0    2
1  Devarachikkanahalli  2 Bedroom      1200.0   2.0   83.0    2
2  Devarachikkanahalli      2 BHK      1170.0   2.0   40.0    2
3  Devarachikkanahalli      3 BHK      1425.0   2.0   65.0    3
4  Devarachikkanahalli      2 BHK       947.0   2.0   43.0    2

   price_per_sqft  1st Block Jayanagar  1st Phase JP Nagar  \
0     3200.000000                    0                   0
1     6916.666667                    0                   0
2     3418.803419                    0                   0
3     4561.403509                    0                   0
4     4540.654699                    0                   0

   2nd Phase Judicial Layout  ...  Vijayanagar  Vishveshwarya Layout  \
0                          0  ...            0                     0
1                          0  ...            0                     0
2                          0  ...            0                     0
3                          0  ...            0                     0
4                          0  ...            0                     0

   Vishwapriya Layout  Vittasandra  Whitefield  Yelachenahalli  Yelahanka  \
0                   0            0           0               0          0
1                   0            0           0               0          0
2                   0            0           0               0          0
3                   0            0           0               0          0
4                   0            0           0               0          0

   Yelahanka New Town  Yelenahalli  Yeshwanthpur
0                   0            0             0
1                   0            0             0
2                   0            0             0
3                   0            0             0
4                   0            0             0

[5 rows x 247 columns]

In [7]:
dff = dff.drop(['location','size','price_per_sqft'],axis='columns')

In [8]:
dff

,total_sqft,bath,price,BHK,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1250.0,2.0,40.0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1200.0,2.0,83.0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1170.0,2.0,40.0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1425.0,2.0,65.0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,947.0,2.0,43.0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7349,1200.0,2.0,70.0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7350,1800.0,1.0,200.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7351,1353.0,2.0,110.0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7352,812.0,1.0,26.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7353,3600.0,5.0,400.0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
X=dff.drop("price",axis="columns")
X

,total_sqft,bath,BHK,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1250.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1200.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1170.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1425.0,2.0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,947.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7349,1200.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7350,1800.0,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7351,1353.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7352,812.0,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7353,3600.0,5.0,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
y=dff.price

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8420095404656065

In [13]:
def predict_price(location,sqft,bath,bhk):    
    loc_index = np.where(X.columns==location)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]

In [14]:
predict_price('Devarachikkanahalli',1500, 2, 2)

NameError: name 'lr_clf' is not defined

In [ ]:
# Export the tested model to a pickle file
import pickle
with open('banglore_home_prices_model.pickle','wb') as f:
    pickle.dump(model,f)